body {
    background: lightgreen;
}



h1 {
    color: red;
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    font-family: 'Sigmar One', cursive;
}

h3 {
    color: red;
    font-size: 50px;
    text-align: center;
    font-family: 'Sigmar One', cursive;
}

a  {
    margin-right: 500px;
    margin-left: 500px;
    margin-top: 50px;
    display: block;
    border-radius: 10px;
    border: 5px solid white;
    text-align: center;
    font-size: 3em;
    text-decoration: none;
    color: red;
    font-family: 'Sigmar One', cursive;
}

div a:hover {
    color: red;
    background-color: white;
}
