body {
    margin: 0;
    padding: 0;
}

#game-screen {
    display: block;
}

#GameOver, #playHUD {
    position: absolute;
    visibility: hidden;
}

h1, h2, h3 {
    font-family: 'Black Ops One', cursive;
    text-align: center;
}

h1, h3, h4 {
    font-family: 'Black Ops One', cursive;
    text-align: center;
}

.title {
    font-size: 40px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#restartButton {
    border: 2px solid black;
    border-radius: 50px;
    
}

#restartButton:hover {
    background-color: red;
}

#scoreboard {
    margin: 0px;
}